.grid-container {
  display: block;
  width: 800px;
  height: 500px;
  padding: 10px;
  overflow: auto;
  margin: 10% !important;
}
// Col {
//     span: 10px;
//     offset: 10px;
// }
.desk {
  border: 1px solid black;
}
