@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
$breakpoint: 280px;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.form {
  padding: 10% 25%;
  margin: 0% -25% 10% 10%;
  .addForm {
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    color: #fff;
    border-radius: 5%;
    .errmsg {
      background-color: lightpink;
      color: firebrick;
      font-weight: bold;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .offscreen {
      position: absolute;
      left: -9999px;
    }
    .instructions {
      font-size: 0.75rem;
      border-radius: 0.5rem;
      background: #c4dbf4;
      color: #3b3030;
      padding: 0.25rem;
      margin-top: 0.25rem;
    }
    .formField {
      display: flex;
      flex-direction: column;
      label {
        display: flex;
        align-items: center;
        color: rgb(223 234 246);
      }
      .instructions > svg {
        margin-right: 0.25rem;
      }
      .hide {
        display: none;
      }
      .valid {
        color: limegreen;
        margin-left: 0.25rem;
      }
      .invalid {
        color: red;
        margin-left: 0.25rem;
      }
      a,
      a:visited {
        color: #fff;
      }
      input[type="text"],
      input[type="password"],
      .submitFormButton,
      textarea,
      button {
        font-family: "Nunito", sans-serif;
        font-size: 22px;
        padding: 0.25rem;
        border-radius: 0.5rem;
        outline-color: #003973;
      }
    }
    h1 {
      color: rgb(223 234 246);
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }
  section {
    width: 50%;
    max-width: 50rem;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0, 59, 117, 0.57);
  }
  .btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
   // width: 35% !important;
    // margin-left: 65%;
    &.button-form {
      padding-right: 25px !important;
      border-radius: 0.5rem;
      background: #c4dbf4;
      width: 30% !important;
      font-size: 15px;
      margin-top: 10px;
      color: #003973;
    }
    .btn-label {
      font-weight: bold;
      padding: 5px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
  }
  .already {
    justify-content: center;
    .line {
      display: inline-block;
      a {
        color: lightblue;
      }
    }
  }
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}


@media (max-width: 1024px) {
  .fullscreen {
    height: 100%;
    width: 100%;
    .form {
      margin: auto;
      margin-top: -50px;
      width: 1000px;
      padding-left: 12px;
      section {
        width: 40%;
        margin: 15% 0% 0% 1%;
      }
    }
  }
}

.scrollable {
  height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}
