
html,
body {
  background-color: #3c5c7d;
}
h1 {
  color: #003973;
}
button:disabled{
    background-color: #00000021 !important;
    color: black;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    
}